# Python
__pycache__/
*.pyc

# Virtual Environment
pip install -r requirements.txtenv/
.env/
.env
*.env

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/interim/
data/processed/

# Results
results/checkpoints/
results/logs/

# OS
.DS_Store